* {
	box-sizing: border-box;
}

body {
	font-family: Arial, sans;
}

.widget {
	width: 270px;
	margin: auto;
	border-radius: 5px;
}

#widget-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 5px 8px 0;
	background: #fff;
	border-bottom: 1.5px solid #ff5c00;
}

#widget-header .widget-title {
	font-size: 1rem;
	font-weight: 600;
	color: #ff5c00;
}

#header-left .page-btn {
	border-radius: 50px;
	border: 1px solid rgba(255, 92, 0, 0.5);
	width: 13px;
	height: 13px;
	margin-right: 4px;
	padding: 0;
	background: #fff;
	outline: none;
}

#header-left .page-btn.current-page {
	background: #ff5c00;
	transition:  all 200ms ease-in;
}

#widget-body {
	padding: 10px 20px 20px 0;
}

.card {
	margin-top: 25px;
}

.card-title {
	margin-bottom: 8px;
	font-size: 1rem;
}

.card-description {
	margin-top: 8px;
	font-size: 0.9rem;
	color: #666;
}